{% extends 'base.html' %}
{% load static %}

{% block title %}فاکتور{% endblock %}

{% block content %}
   <div class="container">
        <div class="row">
            <div class="col-xl-12">
                {% if options %}
                    <table class="uk-table uk-table-small uk-table-divider">
                    <thead>
                        <tr>
                            <th>اطلاعات کامل</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>نام</td>
                            <td>
                                {{ customer.name }}
                            </td>
                        </tr>
                        {% if customer.company %}
                            <tr>
                                <td>نام شرکت</td>
                                <td>
                                   {{ customer.company }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>ایمیل</td>
                            <td>
                                {{ customer.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>نام دامنه</td>
                            <td>
                                {{ customer.domain }}
                            </td>
                        </tr>
                        <tr>
                            <td>شماره تماس</td>
                            <td>
                                {{ customer.phone }}
                            </td>
                        </tr>
                        <tr>
                            <td>لوگو انتخاب شده</td>
                            <td>
                                <img src="{{ customer.logo.url }}" width="200" height="150" id="Receipt" alt="">
                                <!-- customer logo link-->
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="uk-placeholder uk-text-center">لیست خدمات انتخاب شده</div>
                <table class="uk-table uk-table-small uk-table-divider uk-text-center">
                    <tbody>
                        <tr>
                            <th>لیست خدمات</th>
                            <th>قیمت واحد(تومان)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--start loop (tr tag) -->
                        {% for service, price in options.items %}
                        <tr>
                            <td>
                                {{ service }}
                                <!--Service name-->
                            </td>
                            <td>
                                {{ price }}
                                <!--
                                Service prices-->
                            </td>
                        </tr>
                        {% endfor %}
                        <!--end loop </tr>-->

                    </tbody>
                </table>

                <hr class="uk-divider-icon">
                <table class="uk-table uk-table-small uk-table-divider">
                    <tbody>
                        <tr>
                            <td>هزینه کل خمات انتخاب شده</td>
                            <td>
                                {{ cart.total_price }} تومان
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form action="{% url "payment:request" %}" method="get">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label">انتخاب نحوه ی پرداخت:</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="discount" id="gridRadios1" value="0.93" uk-tooltip="title: پرداخت در هنگام سفارش پروژه; pos: top-left">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="form-check-label" for="gridRadios1"> پرداخت در یک مرحله &nbsp; 7% تخفیف
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="discount" id="gridRadios2" value="0.97" uk-tooltip="title: نوبت اول: هنگام سفارش پروژه، نوبت دوم: بعد از اتمام کار و قبل از تحویل پروژه; pos: top-left">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="form-check-label" for="gridRadios2"> پرداخت در دو مرحله &nbsp; 3% تخفیف
                                    </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="discount" id="gridRadios2" value="1.00" uk-tooltip="title: نوبت اول: هنگام سفارش پروژه، نوبت دوم: زمانی که 50% پروژه تکمیل شد، نوبت سوم: بعد از اتمام کار و قبل از تحویل پروژه; pos: top-left">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="form-check-label" for="gridRadios3"> پرداخت در سه مرحله
                                    </label>
                                </div>
                            </div>
                        </div>
                      </div>
                    </fieldset>
                    <input type="hidden" name="order" value="begin">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="pay-btn" type="submit"><svg id="pay" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                            </svg>پرداخت</button>
                        </div>
                    </div><br><br>
                </form>
                <div class="form-group row">
                        <div class="col-sm-10">
                            <a href="{% url 'mainsite:change_order' %}?change_invoice" >
                            <button class="edit-btn"><svg id="edit" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-diff" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4zm-2.5 6.5A.5.5 0 0 1 6 10h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                            </svg>&nbsp;&nbsp;تغییر سفارش</button>
                            </a>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <a href="{% url 'mainsite:register_order' %}?delete_invoice" >
                            <button class="delete-btn"><svg id="delete" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>&nbsp;&nbsp;حذف سفارش</button>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <h3>سبد شما خالی است</h3>
                    <a href="{% url 'mainsite:register_order' %}" class="btn btn-primary">سفارش</a>
                    <a href="{% url 'mainsite:index' %}" class="btn btn-secondary">بازگشت به صفخه اصلی</a>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

{% endblock content %}