<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://v1.fontapi.ir/css/ShabnamFD" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/uikit-rtl.min.css" %}">
    {% block head %}
    {% endblock head %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="http://bigtek.ir/">صفحه اصلی <span class="sr-only">(current)</span></a>
                <!--frist page link-->
            </div>
        </div>
        <button type="button" class="btn btn-light"><a href="{% url 'sales:tail_order' %}"><span class="uk-margin-big-right" uk-icon="info"></span></a></button>
        </nav>
        <header><canvas></canvas>
            <section>
                <a href="#" class="scroll-down" address="true"></a>
            </section>
        </header>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
        <footer class="footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="http://bigtek.ir/"><img src="{% static "image/logopng.png" %}" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <em>بیگ تک</em>
                            <p>زیر مجموعه ی شرکت رایانه پندار آپادانا می باشد که در زمینه ی طراحی سایت و امور برنامه نویسی تحت وب فعالیت دارد</p>
                        </div>
                        <div class="footer-cta pt-5 pb-5">
                            <div class="row">
                                <div class="col-xl-4 col-md-12">
                                    <div class="single-cta">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <div class="cta-text">
                                            <a href="" class="uk-icon-button" uk-icon="location"></a>&nbsp;
                                            <span>خوزستان، اهواز</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-12">
                                    <div class="single-cta">
                                        <i class="fas fa-phone"></i>
                                        <div class="cta-text">
                                            <a href="" class="uk-icon-button" uk-icon="receiver"></a>&nbsp;
                                            <span>09376736885</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-12">
                                    <div class="single-cta">
                                        <i class="far fa-envelope-open"></i>
                                        <div class="cta-text">
                                            <a href="" class="uk-icon-button" uk-icon="mail"></a>&nbsp;
                                            <span>bigtech.webcompany@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-social-icon">
                            <a href="https://www.linkedin.com/in/big-tech-8115a01b9/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin" id="linkedin"></a>
                            <!-- Set link-->
                            <a href="https://www.instagram.com/bigtech.co/" class="uk-icon-button  uk-margin-small-right" uk-icon="instagram" id="instagram"></a>
                            <!-- Set link-->
                            <a href="https://wa.me/989376736885" class="uk-icon-button" uk-icon="whatsapp" id="whatsapp"></a>
                            <!-- Set link-->
                        </div>
                        <hr>
                        <div>
                            <em><p> تمامی حقوق این وب سایت نزد شرکت <em> رایانه پندار آپادانا </em> محفوظ است.</p>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
</body>
{% block scripts %}
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>
    <script src="{% static "js/scriptform.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>

    <script>
        $(function() {
            $("#button").on("click", function() {
                $("#mylist").load("{% url 'mainsite:register_order' %}"); /* linked web page from server*/
            });
        });
    </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5WTN3ZZKCP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5WTN3ZZKCP');
</script>
{% endblock %}
</html>